parameters:
	ignoreErrors:
		-
			message: '#^Method Dev\\Common\\Infrastructure\\Cache\\RecordingCache\:\:get\(\) has parameter \$metadata with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src-dev/Common/Infrastructure/Cache/RecordingCache.php

		-
			message: '#^Parameter \#2 \$name of class App\\Feed\\Application\\Command\\Source\\AddSourceCommand constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Feed/Infrastructure/Console/AddSourceCLICommand.php

		-
			message: '#^Parameter \#3 \$feedUrl of class App\\Feed\\Application\\Command\\Source\\AddSourceCommand constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Feed/Infrastructure/Console/AddSourceCLICommand.php

		-
			message: '#^Parameter \#4 \$category of class App\\Feed\\Application\\Command\\Source\\AddSourceCommand constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Feed/Infrastructure/Console/AddSourceCLICommand.php

		-
			message: '#^Method App\\Feed\\Infrastructure\\Persistence\\Doctrine\\Article\\DoctrineArticleRepository\:\:findByUrl\(\) should return App\\Feed\\Domain\\Article\\Article\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Feed/Infrastructure/Persistence/Doctrine/Article/DoctrineArticleRepository.php

		-
			message: '#^Parameter \#1 \$id of class App\\Feed\\Domain\\Article\\ArticleId constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Feed/Infrastructure/Persistence/Doctrine/Article/DoctrineArticleRepository.php

		-
			message: '#^Method App\\Feed\\Infrastructure\\Persistence\\Doctrine\\Category\\DoctrineCategoryRepository\:\:findByNameOrThrow\(\) should return App\\Feed\\Domain\\Category\\Category but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Feed/Infrastructure/Persistence/Doctrine/Category/DoctrineCategoryRepository.php

		-
			message: '#^Method App\\Feed\\Infrastructure\\Persistence\\Doctrine\\Source\\DoctrineSourceRepository\:\:findByNameOrThrow\(\) should return App\\Feed\\Domain\\Source\\Source but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Feed/Infrastructure/Persistence/Doctrine/Source/DoctrineSourceRepository.php

		-
			message: '#^Parameter \#1 \$id of class App\\Feed\\Domain\\Source\\SourceId constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Feed/Infrastructure/Persistence/Doctrine/Source/DoctrineSourceRepository.php

		-
			message: '#^Parameter \#2 \$configurator of method Symfony\\Component\\DependencyInjection\\ContainerBuilder\:\:registerAttributeForAutoconfiguration\(\) expects callable\(Symfony\\Component\\DependencyInjection\\ChildDefinition, App\\Common\\Infrastructure\\Messenger\\CommandBus\\AsCommandHandler, Reflector\)\: void, Closure\(Symfony\\Component\\DependencyInjection\\ChildDefinition, App\\Common\\Infrastructure\\Messenger\\CommandBus\\AsCommandHandler, ReflectionClass\|ReflectionMethod\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/Kernel.php

		-
			message: '#^Parameter \#2 \$configurator of method Symfony\\Component\\DependencyInjection\\ContainerBuilder\:\:registerAttributeForAutoconfiguration\(\) expects callable\(Symfony\\Component\\DependencyInjection\\ChildDefinition, App\\Common\\Infrastructure\\Messenger\\EventBus\\AsEventSubscriber, Reflector\)\: void, Closure\(Symfony\\Component\\DependencyInjection\\ChildDefinition, App\\Common\\Infrastructure\\Messenger\\EventBus\\AsEventSubscriber, ReflectionClass\|ReflectionMethod\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: src/Kernel.php

		-
			message: '#^Expression "new class\(\$uuid\) extends \\App\\Common\\Identifier\\UuidId…" on a separate line does not do anything\.$#'
			identifier: expr.resultUnused
			count: 1
			path: tests/Unit/Common/Identifier/UuidIdTest.php
